@media (prefers-reduced-motion: no-preference) {
    .hidden.about__title,
    .hidden.about__para,
    .hidden.mainButton {
        opacity: 0;
        transition: opacity 0.6s ease-in;
    }

    .hidden.mainButton {
        transform: translateY(60%);
    }
    .hidden.about__para {
        transform: translateY(50%);
    }
    .show.about__title,
    .show.about__para,
    .show.mainButton {
        opacity: 1;
        transform: translateX(0%);
    }
}

.wrapperTwo {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.about {
    flex: 100%;
}

.about__container {
    width: 90%;
    margin: 0 auto;
    max-width: 880px;
    text-align: center;
}

.about__container h2 {
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: var(--title__mobile);
    color: var(--orange);
    text-shadow: 0px 0px 2px var(--orange), 0px 0px 6px var(--orange);
    letter-spacing: 2px;
}

.about__container p {
    font-size: var(--body__sizeMobile);
    padding-bottom: 60px;
    color: var(--white);
    line-height: 32px;
}

.about__para a {
    color: var(--orange);
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.about__para a:hover {
    border-bottom: 1px solid var(--orange);
}

.about__focus {
    color: var(--orange);
    font-weight: bold;
}

.mainButton {
    background-color: transparent;
    max-width: 280px;
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    letter-spacing: 2px;
    align-items: center;
    text-decoration: none;
    color: var(--water_green);
    font-size: var(--mainButton__mobile);
    text-shadow: 0px 0px 4px var(--water_green);
    border: 4px solid var(--water_green);
    box-shadow: 0px 0px 15px 1px var(--water_green);
    transition: all 0.5s ease-in-out;
}

.mainButton:hover {
    border: 4px solid white;
    box-shadow: 0px 0px 18px 1px white, 0px 0px 6px 1px white inset;
}

.mainButton__svg path {
    fill: var(--water_green);
    stroke: var(--water_green);
}

@media screen and (min-width: 800px) {
    .about__container h2 {
        padding-top: 200px;
    }

    .about__container p {
        line-height: 34px;
    }
}

@media screen and (min-width: 1100px) {
    .about__container P {
        font-size: 1.4em;
        line-height: 36px;
    }

    .about__container h2 {
        font-size: var(--title__size);
        padding-top: 200px;
    }

    .mainButton {
        font-size: var(--mainButton__size);
        max-width: 320px;
    }
}
