@media (prefers-reduced-motion: no-preference) {
    .hidden.title__title, .hidden.work_img {
        opacity: 0;
        transition: all 0.5s ease-in;
    }

    .hidden.work_img {
        transform: translateY(20%);
    }

    .show.title__title, .show.work_img {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapperThree {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin:0 auto;
}

.tittle {
    flex:100%;
}

.title__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.title__title h2 {
    padding-top: 40px;
    padding-bottom: 80px;
    font-size:var(--title__mobile);
    color: var(--orange);
    text-shadow: 0px 0px 2px var(--orange), 0px 0px 6px var(--orange); 
    letter-spacing: 2px;
}

.works__img {
    width: 90%;
    margin:0 auto;
}

.work__container {
    display: grid;
    grid-template-columns:100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    text-align: center;
}

.work_img {
    width: 100%;
    max-width: 360px;
    object-fit: fill;
    box-shadow: 0px 0px 10px 2px #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.work_img:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (min-width:660px) {

   .work__container {
    grid-template-columns: auto auto;
   }

   .work_img {
    max-width:none;
   }
}

@media screen and (min-width:1100px) {

    .title__title h2 {
        padding-top: 100px;
        font-size:var(--title__size);
    }

    .work__container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width:1600px) {
    .work__container {
        grid-template-columns: auto auto auto auto;
    }
}


 