@media (prefers-reduced-motion: no-preference) {
    .hidden.title__title,
    .hidden.work_img {
        opacity: 0;
        transition: all 0.5s ease-in;
    }

    .hidden.work_img {
        transform: translateY(20%);
    }

    .show.title__title,
    .show.work_img {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapperThree {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.tittle {
    flex: 100%;
}

.title__title {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: var(--title__mobile);
    color: var(--orange);
    text-shadow: 0px 0px 2px var(--orange), 0px 0px 6px var(--orange);
    letter-spacing: 2px;
    text-align: center;
}

.projectsOptions {
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

.active.projects__btnOption {
    color: var(--water_green);
    text-shadow: 0px 0px 6px var(--water_green);
}

.projects__btnOption,
.projects__btnOption {
    background-color: transparent;
    padding: 1vh;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    border: none;
    text-shadow: none;
    color: rgba(255, 255, 255, 0.609);
    transition: all 0.5s ease-in-out;
}

.works__img {
    width: 90%;
    margin: 0 auto;
}

.work__container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    text-align: center;
    opacity: 0;
    height: 0;
    width: 0%;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.active.work__container {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.work_img {
    width: 100%;
    height: 100%;
    max-width: 360px;
    object-fit: fill;
    box-shadow: 0px 0px 10px 2px #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.work_img:hover {
    transform: scale(1.1, 1.1);
}

.work__imgContainer {
    max-width: 420px;
    margin: 0 auto;
}

/* projects back start */

.projects__back {
    width: 90%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 40px;
    opacity: 0;
    height: 0;
    transition: opacity 0.4s ease;
}

.active.projects__back {
    opacity: 1;
    height: 100%;
}

.project__back {
    flex: 100%;
    max-width: 380px;
    box-shadow: 0px 0px 6px 2px #fff;
    padding: 4vh;
    background-image: radial-gradient(
        circle,
        hsla(0, 3%, 6%, 0.678) 2%,
        black 98%
    );
}

.project__back h3 {
    padding-bottom: 2vh;
    font-weight: bold;
    color: var(--orange);
}

.project__backParagraph {
    color: white;
    padding-bottom: 1.2em;
}

.project__back button {
    border: none;
    color: black;
}

.project__backSkills {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.4em;
    column-gap: 0.4em;
}

.project__backSkills .modalImg__skill {
    display: flex;
    flex-wrap: wrap;
}

.project__backSkills .modalImg__skill img {
    width: 16px;
}

.project__backSkills .skills__paragraph {
    font-size: 14px;
    padding-left: 0px;
}

.project__back--links {
    display: flex;
    justify-content: space-between;
}

.project__code {
    display: flex;
    column-gap: 10px;
    padding-bottom: 1.4em;
}

.project__links {
    padding-top: 1em;
    display: flex;
    column-gap: 0.9em;
}

.project__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* projects back end */

@media screen and (min-width: 660px) {
    .work__container {
        grid-template-columns: auto auto;
    }

    .work_img {
        max-width: none;
    }
    .projectsOptions button {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1100px) {
    .title__title {
        padding-top: 100px;
        font-size: var(--title__size);
    }

    .work__container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1600px) {
    .work__container {
        grid-template-columns: auto auto auto auto;
    }
}
